.callback {
    height: 1350px;
    background-image: url('./../img/decor/cb_bg.png');
    background-position: center;
    background-size: cover;
}

.callback__title {
    padding-top: 30px;
    height: 250px;
    position: relative;
    box-sizing: border-box;
    width: 675px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
}
.callback__title__substrate-icon {
    height: 210px;
    opacity: 0.3;
    transform: rotate(25deg);
}
.review {
    text-align: center;
    margin-bottom: 70px;
}
.review__item {
    width: 376px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    &:last-child {
        margin-right: 0;
    }
}
.review__quotes {
    z-index: -1;
    position: absolute;
    top: 70px;
}
.review__quotes-icon {
    fill: #fff;
    opacity: 0.1;
    height: 60px;
    width: 75px;
}
.review__pic {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    height: 75px;
    width: 75px;
    margin-bottom: 13px;
}
.review__img {
    width: 80px;
}
.review__text,
.review__author-occup {
    color: #fff;
    @include roboto(italic);
}
.review__text {
    text-align: left;
    line-height: 25px;
    margin-bottom: 20px;
}
.review__author {
    @include roboto(boldItalic);
    color: #fff;
}
.form-wrap {
    width: 380px;
    margin: 0 auto;
    background-image: radial-gradient(at top right, rgba(106, 99, 49, 0.2), rgba(60, 65, 65, 0.3), rgba(52, 55, 55, 0.3));
}
.form__title {
    padding-top: 28px;
    margin-bottom: 30px;
    text-align: center;
    & .block-subtitle {
        color: #fff;
    }
}
.form__wrap {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 340px;
}
.form__input {
    background-color: rgba(255, 255, 255, 0.09);
    width: 340px;
    height: 45px;
    border: none;
    box-sizing: border-box;
    padding: 15px;
    @include roboto(regular);
    color: #fff;
    &:focus {
        border: none;
        outline: none;
    }
}
.text-area {
    resize: none;
    width: 340px;
    height: 130px;
}
.form__wrap-btn {
    @extend %clearfix;
}
.form__submit,
.form__reset {
    display: block;
    float: left;
    width: 50%;
    border: none;
    box-sizing: border-box;
    padding: 13px 45px;
    @include roboto(medium);
    color: #fff;
    cursor: pointer;
    transition: .3s;
    &:focus {
        border: none;
        outline: none;
    }
}
.form__submit {
    background-color: $blue;
    &:hover {
        background-color: #083c96;
    }
}
.form__reset {
    background-color: transparent;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}
.callback__scroll {
    @include centered(x);
    bottom: 249px;
    margin-left: -10px;
    transform: rotate(180deg);
    opacity: 0.3;
    transition: .3s;
    &:hover {
        opacity: 1;
    }
}