.slider__control-left,
.slider__control-right {
    position: absolute;
    width: 80px;
    height: 100%;
    @include phone {
        width: 22px;
    }
}
.slider__control-right {
    right: 0;
}
.slider__control-left {
    left: 0;
}
.slider__title {
    .block-subtitle {
        padding: 0 0 26px;
        display: inline-block;
    }
}
.slider__controls-icon {
    width: 28px;
    height: 18px;
    fill: #4479d5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.slider__wrap {
    overflow: hidden;
    height: 100%;
    background-color: #e3e2de;
}
.slider__list {
    white-space: nowrap;
    position: relative;
    height: 100%;
}
.slider__item {
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: normal;
    @include laptop {
        display: inline-flex;
        flex-wrap: wrap;
    }
}
.slider__left,
.slider__right {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    @include laptop {
        width: 100%;
        float: none;
    }
}
.slider__left {
    @include laptop {
        height: 65%;
        width: 100%;
        order: 1;
    }
    @include phone {
        height: 70%;
    }
}
.slider__right {
    padding-left: 110px;
    @include laptop {
        height: 35%;
        text-align: center;
        padding: 0;
    }
    @include phone {
        height: 30%;
        padding: 15px 0;
    }
}
.slider__right-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include laptop {
        width: 100%;
    }
}

.slider__title {
    margin-bottom: 25px;
    @include phone {
        margin-bottom: 20px;
    }
}
.slider__tech {
    text-transform: uppercase;
    margin-bottom: 55px;
    @include roboto(medium);
    @include laptop {
        margin-bottom: 30px;
    }
    @include phone {
        margin-bottom: 20px;
    }
}
.slider__link {
    background-color: $blue;
    padding: 12px 20px;
    color: #fff;
    @include roboto(regular);
    box-sizing: border-box;
    display: inline-block;
    @include phone {
        padding: 10px 20px;
    }
}
.slider__link-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.slider__link-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}


.slider__right {
    background-color: #e3e2de;
}
.slider__preview {
    width: 50%;
    height: 70%;
    min-height: 258px;
    background-color: #e3e2de;
    @include tablet {
        width: 100%;
        height: 50%;
        order: -2;
    }
}
.slider__preview-img-wrap {
    height: 100%;
    width: 100%;
    padding: 20px 40px;
    position: relative;
}
.slider__preview-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    @include laptop {
        right: 50%;
        transform: translateX(50%);
    }
    @include phone {
        padding: 0 23px;
    }
}
.slider__controls-down,
.slider__controls-up {
    width: 50%;
    height: 100%;
    position: relative;

}
// .slider__controls-down {
// }
.slider__controls-icon-wrap {
    height: 100%;
    z-index: 11;
    position: relative;
}

.slider-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    @include phone {
        bottom: 10px;
    }
}
.slider-dots__item {
    display: inline-block;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
    @include phone {
        margin-right: 10px;
    }
}
.slider-dots__link {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 3px solid $blue;
    border-radius: 50%;
    transition: .3s;
    @include phone {
        width: 10px;
        height: 10px;
        border-width: 2px;
    }
}
.active {
    .slider-dots__link {
        background-color: $blue;
    }
}
// .slider__controls-icon {
//     width: 45px;
//     height: 30px;
//     fill: #fff;
//     @include centered();
// }
// .slider__controls-list {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     overflow: hidden;
// }
// .slider__controls-item {
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     top: 100%;
//     &.active {
//         top: 0;
//     }
// }
// .slider__controls-img {
//     padding: 10px;
//     max-width: 100%;
//     max-height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: auto;
// }