.slider__desc {
    width: 50%;
    display: flex;
    height: 100%;
    background-color: $beige;
    align-items: center;
    justify-content: center;
    @include tablet {
        width: 100%;
        height: 35%;
        order: -1;
    }
}
.slider__desc-wrap {
    width: 380px;
    text-align: center;
    @include tablet {
        width: 100%;
    }
}
.slider__title {
    margin-bottom: 25px;
}
.slider__tech {
    text-transform: uppercase;
    margin-bottom: 55px;
    @include roboto(medium);
    @include tablet {
        margin-bottom: 30px;
    }
}
.slider__link {
    background-color: $blue;
    padding: 12px 20px;
    color: #fff;
    @include roboto(regular);
    box-sizing: border-box;
    display: inline-block;
}
.slider__link-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.slider__link-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}


.slider__right {
    background-color: #e3e2de;
}
.slider__preview {
    width: 50%;
    height: 70%;
    background-image: url('./../img/content/slider_preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e3e2de;
    @include tablet {
        width: 100%;
        height: 45%;
        order: -2;
    }
}
.slider__controls {
    height: 30%;
    display: flex;
}
.slider__controls-left,
.slider__controls-right {
    width: 50%;
    height: 100%;
    position: relative;

}
.slider__controls-left {
    background-image: url('./../img/content/slider_preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.slider__controls-right {
    & .slider__controls-icon-wrap {
        background-color: rgba(#7e7f8a, .7);
    }
    background-image: url('./../img/content/slider_preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.slider__controls-icon-wrap {
    height: 100%;
    background-color: rgba(#aaabb7, .7);
}
.slider__controls-icon {
    width: 45px;
    height: 30px;
    fill: #fff;
    @include centered();
}