.about {
    @extend %clearfix;
}
.about__me,
.about__skills {
    width: 50%;
    display: flex;
    @include laptop {
        width: 100%;
    }
}
.about__me {
    background-color: $beige;
    flex-flow: column wrap;
}
.about__me-title {
    position: relative;
    text-align: center;
    height: 100%;
    width: 40%;
    @include desctopFHD {
        height: auto;
        width: 100%;
    }
}
.about__me-content {
    margin-top: 20px;
    @include desctopFHD {
        margin-top: 0;
    }
}
.user-desc__pic {
    margin: 0 auto;
    width: 455px;
    height: 390px;
    overflow: hidden;
    margin-bottom: 34px;
}
.user-desc__img {
    width: 485px;
}
.user-desc__title {
    text-align: center;
    margin-bottom: 30px;
}
.user-desc__text {
    width: 455px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.text-content {
    
}
//- skills
.about__skills {
    background-color: $lighter_beige;
}
.about__skills-container {
    margin: 0 10px 80px 40px;
}
.about__skills-title {
    width: 355px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}
.about__skills-text {
    margin-bottom: 48px;
    p {
        margin: 0;
    }
}

.skills-circle__item {
    margin-bottom: 26px;
    &:last-child {
        margin-bottom: 0;
    }
}

.skills-row__title {
    @include roboto(medium);
    font-size: 28px;
    margin-bottom: 10px;
}
.skills-row__item {
    display: inline-block;
    font-size: 0;
    margin-right: 32px;
    &:last-child {
        margin-right: 0;
    }
}
.skill__title {
    font-size: 16px;
}