.about {
    @extend %clearfix;
}
.about__me,
.about__skills {
    width: 50%;
    display: flex;
    @include laptop {
        width: 100%;
    }
}
.about__me {
    background-color: $beige;
    flex-flow: column wrap;
}
.about__me-title {
    position: relative;
    text-align: center;
    height: 100%;
    width: 40%;
    @include desctopFHD {
        height: auto;
        width: 100%;
    }
    @include tablet {
        height: 135px;
    }
    @include phone {
        height: 95px;
    }
}
.about__me-content {
    margin-top: 20px;
    @include desctopFHD {
        margin-top: 0;
    }
}
.user-desc__pic {
    margin: 0 auto;
    width: 455px;
    height: 390px;
    overflow: hidden;
    margin-bottom: 34px;
    @include laptop {
        width: 475px;
        height: 420px;
    }
    @include phone {
        width: 320px;
        height: 285px;
    }
}
.user-desc__img {
    width: 480px;
    @include phone {
        width: 325px;
    }
}
.user-desc__title {
    text-align: center;
    margin-bottom: 30px;
    @include phone {
        margin-bottom: 20px;
    }
}
.user-desc__text {
    width: 455px;
    margin: 0 auto;
    margin-bottom: 25px;
    p:first-child {
        margin-bottom: 20px;
    }
    @include laptop {
        width: 475px;
    }
    @include tablet {
        font-size: 14px;
    }
    @include phone {
        width: 300px;
    }
}
//- skills
.about__skills {
    background-color: $lighter_beige;
    @include laptop {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include phone {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.about__skills-container {
    padding: 0 10px 80px 40px;
    @include laptop {
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
}
.about__skills-title {
    width: 355px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    @include laptop {
        margin-bottom: 20px;
    }
    @include tablet {
        width: 300px;
    }
    @include phone {
        width: 230px;
    }
}
.about__skills-text {
    margin-bottom: 48px;
    p {
        margin: 0;
    }
    @include laptop {
        width: 475px;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 50px;
    }
    @include tablet {
        font-size: 14px;
    }
    @include phone {
        width: 300px;
        margin-bottom: 30px;
    }
}
.about__skills-content {
    @include phone {
        width: 320px;
    }
}
.skills-circle__item {
    margin-bottom: 26px;
    &:last-child {
        margin-bottom: 0;
    }
    @include phone {
        margin-bottom: 30px;
    }
}

.skills-row__title {
    @include roboto(medium);
    font-size: 28px;
    margin-bottom: 10px;
    @include tablet {
        font-size: 21px;
    }
}
.skills-row__list {
    @include phone {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}
.skills-row__item {
    display: inline-block;
    font-size: 0;
    margin-right: 32px;
    &:last-child {
        margin-right: 0;
    }
    @include phone {
        margin-right: 0;
        margin-bottom: 30px;
    }
}