.contacts-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include phone {
        order: -1;
    }
}
.contacts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -91px;
  background-color: rgba(255, 255, 255, .95);
  width: 580px;
  height: 293px;
  padding: 20px;
  @include tablet {
      width: 350px;
      height: 375px;
  }
  @include phone {
      width: 100%;
      height: 295px;
      position: static;
      order: -1;
      margin-top: 0;
      transform: translate(0, 0);
  }
}
.contacts__title {
    text-align: center;
    margin-bottom: 30px;
}
.contacts__list {
    font-size: 0;
}
.contacts__item {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @include tablet {
        width: 100%;
        margin-bottom: 20px;
    }
    @include phone {
        margin-bottom: 10px;
    }
}
.contacts-row__icon-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.contacts-row__icon {
    width: 45px;
    height: 45px;
    fill: $blue;
    @include phone {
        width: 35px;
        height: 35px;
    }
}

.contacts-row__content {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    @include roboto(medium);
    color: #474b57;
    opacity: 0.8;
}