.first-screen {
    overflow: hidden;
}
.first-screen__bg-normal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    @include desctop {
        display: block;
    }
}
.first-screen__bg-img {
    width: 2400px;
}
.first-screen__bg-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1270px;
    @include desctop {
        display: none;
    }
}
.first-screen__bg {
    max-width: 180%;
    display: block;
}
.first-screen__socials {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.first-screen__container {
    position: relative;
    height: 100%;
}
.first-screen__title {
  right: 0;
  left: 0;
  text-align: center;
  margin-top: -33px;
  @include centered(y);
}
.first-screen__title_posmargin {
    margin-top: 10px;
}
.first-screen__user {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -116px;
    text-align: center;
}
.first-screen__scroll {
    bottom: 65px;
    @include centered(x);
    z-index: 1;
    transition: .3s;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
    @include phone {
        bottom: 50px;
    }
}
.arrow__pic {
    width: 28px;
    height: 16px;
    fill: #fff;
}