.section {
  position: relative;
  height: 100%;
}
.first-screen {
  height: 100vh;
  max-height: 980px;
  min-height: 560px;
}
.map {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  @include phone {
    height: auto;
  }
}
.about {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.slider {
  height: 100vh;
  min-height: 580px;
  display: flex;
  flex-flow: column wrap;
  @include tablet {
    flex-wrap: nowrap;
  }
}