.section {
  position: relative;
  height: 100%;
}
.first-screen {
  height: 100vh;
  max-height: 980px;
}
.map {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
.about {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.works {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  min-height: 935px;
}