.triangle {
    position: absolute;
    bottom: 100%;
    width: 50%;
    height: 105px;
    display: block;
    &_fill {
        &_lighter {
            fill: $lighter_beige;
            @include laptop {
                right: 0;
                fill: $beige;
            }
        }
        &_beige {
            fill: $beige;
        }
    }
    @include tablet {
        height: 70px;
    }
    @include phone {
        height: 30px;
    }
}
.triangle__svg {
    height: 100%;
    width: 100%;
    fill: inherit;
}