.articles__triangle {
    height: 100px;
    position: absolute;
    bottom: 100%;
    width: 100%;
    display: block;
}
.articles__triangle-svg {
    height: 100px;
    fill: $beige;
    width: 100%;
}
.articles__wrap {
    background-color: $beige;
    @extend %clearfix;
    padding: 94px 108px 65px 45px;
}
.sidebar {
    width: 26%;
    float: left;
    text-align: right;
}
.side-nav {
    margin-top: 12px;
    &__item {
        margin-bottom: 10px;
    }
}
.side-nav__link {
    padding: 10px 20px;
    color: $main_font_color;
    display: block;
    border-right: 4px solid transparent;
}
.side-nav__link_active {
    color: $blue;
    border-right: 4px solid $blue;
    @include roboto(bold);
}
.articles__content {
    width: 74%;
    float: left;
    padding-left: 93px;
    box-sizing: border-box;
}
.articles__item {
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 5px solid #ecebe4;
    &:last-child {
        margin: 0;
        padding: 0;
        border: none;
    }
}

.article__header {
    margin-bottom: 20px;
}
.article__title {
    @include webissimo();
    color: $main_font_color;
    font-size: 35px;
    margin-bottom: 13px;
}
.article__date {
    color: $blue;
    opacity: 0.7;
}
.article__text {
    line-height: 26px;
    p {
        margin-bottom: 10px;
    }
}