.articles__triangle {
    height: 100px;
    position: absolute;
    bottom: 100%;
    width: 100%;
    display: block;
    @include tablet {
        height: 70px;
    }
    @include phone {
        height: 30px;
    }
}
.articles__triangle-svg {
    height: 100%;
    fill: $beige;
    width: 100%;
}
.articles__wrap {
    background-color: $beige;
    @extend %clearfix;
    padding: 94px 108px 65px 45px;
    @include laptop {
        padding: 94px 37px 65px 37px;
    }
    @include tablet {
        padding: 60px 25px 50px 25px;
    }
    @include phone {
        padding: 35px 10px 30px 10px;
    }
}
.sidebar {
    width: 26%;
    float: left;
    text-align: right;
    @include tablet {
        display: none;
    }
    @include phone {
        display: block;
        position: absolute;
        width: 80%;
        height: 120vh;
        top: -20vh;
        padding-top: 25vh;
        left: -80%;
        background-color: #253468;
        z-index: 3;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 50px;
            background-color: #253468;
            right: -10px;
            top: 85vh;
            border-bottom-right-radius: 50%;
            border-top-right-radius: 50%;
        }
    }
}
.side-nav {
    margin-top: 12px;
    &__item {
        margin-bottom: 10px;
    }
}
.side-nav__link {
    padding: 10px 20px;
    color: $main_font_color;
    display: block;
    border-right: 4px solid transparent;
    @include phone {
        color: #fff;
        @include roboto(light);
    }
}
.side-nav__link_active {
    color: $blue;
    border-right: 4px solid $blue;
    @include roboto(bold);
    @include phone {
        color: #fff;
        border-right: 4px solid #fff;
    }
}
.articles__content {
    width: 74%;
    max-width: 1000px;
    float: left;
    padding-left: 93px;
    box-sizing: border-box;
    @include laptop {
        padding-left: 40px;
    }
    @include tablet {
        width: 100%;
        padding: 0;
        float: none;
    }
}
.articles__item {
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 5px solid #ecebe4;
    &:last-child {
        margin: 0;
        padding: 0;
        border: none;
    }
    @include tablet {
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    @include phone {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}

.article__header {
    margin-bottom: 20px;
}
.article__title {
    @include webissimo();
    color: $main_font_color;
    font-size: 35px;
    margin-bottom: 13px;
    @include tablet {
        font-size: 30px;
    }
    @include phone {
        font-size: 21px;
    }
}
.article__date {
    color: $blue;
    opacity: 0.7;
}
.article__text {
    line-height: 26px;
    p {
        margin-bottom: 10px;
    }
}