.blog {
    height: 400px;
    @include tablet {
        height: 505px;
    }
    @include phone {
        height: 560px;
    }
}
.blog-bg {
    max-width: 100%;
    @include desctopFHD {
        max-width: 140%;
    }
}
.blog__bg-img {
    width: 1650px;
}
.blog__title {
    text-transform: uppercase;
    font-size: 63px;
    color: #fff;
    @include webissimo();
    line-height: 65px;
    margin-bottom: 10px;
    @include tablet {
        font-size: 49px;
    }
    @include phone {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 20px;
    }
}
.blog__subtitle {
    color: #fff;
}