.footer {
    position: relative;
    @include tablet {
        font-size: 14px;
    }
}
.footer_works {
    width: 100%;
}
.container {
    padding: 29px 30px 20px;
    display: flex;
    @include laptop {
        flex-wrap: wrap;
        padding: 29px 23px 20px;
    }
    @include phone {
        text-align: center;
        padding: 20px 10px 15px 10px;
    }
}
.footer-main {
    background-color: rgba(28, 31, 41, .85);
}
.footer-main__col {
    flex: 1 1 auto;
    &:first-child {
        @include desctop {
            flex: 1.5;
        }
        @include laptop {
            flex: none;
        }
    }
    &:last-child {
        @include desctop {
            flex: 1;
        }
        @include laptop {
            flex: none;
        }
    }
    @include laptop {
        flex: none;
        &:first-child {
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            margin-bottom: 20px;
        }
        &:last-child {
            width: 30%;
            text-align: right;
            @include phone {
                width: 100%;
                text-align: center;
            }
        }
    }
    &:nth-child(2) {
        position: relative;
        padding: 0 35px 0 30px;
        margin: 0 35px;
        height: 100%;
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 88px;
            width: 1px;
            background-color: #9e9fa3;
            @include centered(y);
        }
        &::after {
            right: 0;
        }
        &::before {
            left: 0;
        }
        @include desctop {
            flex: 2.5;
        }
        @include laptop {
            padding: 0;
            margin: 0;
            width: 70%;
            &::before,
            &::after {
                display: none;
            }
        }
        @include phone {
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            margin-bottom: 20px;
        }
    }
}
.footer-main__text {
    @include roboto(light);
    color: #fff;
    max-width: 350px;
    @include laptop {
        max-width: 100%;
    }
}
.footer-main__row_margin {
    margin-bottom: 40px;
    @include laptop {
        margin-bottom: 18px;
    }
}
.menu__item {
    display: inline-block;
    margin-right: 32px;
    &:last-child {
        margin-right: 0;
    }
    @include laptop {
        margin-right: 30px;
    }
    @include tablet {
        margin-right: 10px;
    }
}
.menu__link {
    color: #fff;
}
.socials_margin_color {
    .socials_icon {
        fill: #9e9fa3;
    }
}
.footer-main__contacts-item {
    @include roboto(light);
    color: #fff;
    margin-bottom: 4px;
    &:last-child {
        margin-bottom: 0;
    }
}
.footer-copyright {
    background-color: rgba($blue, .8);
    &__text {
        color: #fff;
        line-height: 32px;
        text-align: center;
        p {
            margin: 0;
        }
    }
}