.first-screen__socials {
    @extend %clearfix;
}
.socials {
    &__item {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
        margin-right: 20px;
        fill: #fff;
        transition: .3s;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            fill: $blue;
        }
    }
    &__icon {
        width: 30px;
        height: 20px;
        fill: inherit;
    }
}
.socials_float_margin {
    float: left;
    margin: 31px 0 0 31px;
    @include phone {
        margin: 15px 0 0 10px;
    }
}
.nav-trigger {
    float: right;
    margin: 28px 28px 0 0;
    position: relative;
    z-index: 11;
    &:focus {
        outline: none;
        border: none;
    }
    @include phone {
        margin: 5px 10px 0 0;
    }
}
.nav-trigger__line {
    width: 40px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 10px auto;
    transition: all 0.2s ease-in-out;
    @include phone {
        width: 30px;
        height: 4px;
        margin: 8px auto;
    }
}
.nav-trigger_active{
  transition: all 0.2s ease-in-out;
  transition-delay: 0.4s;
  transform: rotate(45deg);
}

.nav-trigger_active .nav-trigger__line:nth-child(2){
  width: 0px;
}

.nav-trigger_active .nav-trigger__line:nth-child(1),
.nav-trigger_active .nav-trigger__line:nth-child(3){
  transition-delay: 0.2s;
}

.nav-trigger_active .nav-trigger__line:nth-child(1){
  transform: translateY(13px);
}

.nav-trigger_active .nav-trigger__line:nth-child(3){
  transform: translateY(-17px) rotate(90deg);
  @include phone {
      transform: translateY(-11px) rotate(90deg);
  }
}