.block-title {
  top: 0;
  position: absolute;
  font-size: 63px;
  color: $main_font_color;
  @include webissimo();
  left: 0;
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
  @include laptop {
    @include centered(y);
  }
  @include tablet {
    font-size: 48px;
  }
  @include phone {
    font-size: 35px;
  }
}
.block-title_white {
  color: #fff;
  text-align: center;
  @include centered();
  line-height: 65px;
  @include phone {
    line-height: 42px;
  }
}
.block-title__substrate-icon {
    width: 185px;
    height: 133px;
    fill: #dbe0e6;
    transform: rotate(190deg);
    margin-top: -22px;
    @include laptop {
      margin-top: 15px;
    }
    @include tablet {
      height: 120px;
    }
    @include phone {
      display: none;
    }
}
.block-subtitle {
    font-size: 35px;
    color: $main_font_color;
    @include webissimo();
    text-transform: uppercase;
    padding: 0 20px 26px 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      @include centered(x);
      bottom: 0;
      width: 90px;
      height: 3px;
      display: block;
      background-color: $main_font_color;
      @include phone {
        width: 55px;
      }
    }
    @include tablet {
      font-size: 30px;
      padding: 0 20px 20px 20px;
    }
    @include phone {
      font-size: 21px;
    }
}
.block-subtitle_lineHeight {
  line-height: 40px;
  @include phone {
    line-height: 28px;
  }
}