.block-title {
  font-size: 63px;
  color: $main_font_color;
  @include webissimo();
  top: 0;
  @include centered(x);
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
}
.block-title__white {
  color: #fff;
  @include centered();
  line-height: 65px;
}
.block-title__substrate-icon {
    width: 185px;
    height: 133px;
    fill: #dbe0e6;
    transform: rotate(190deg);
    margin-top: -22px;
    @include laptop {
      margin-top: 0;
    }
}
.block-subtitle {
    font-size: 35px;
    color: $main_font_color;
    @include webissimo();
    text-transform: uppercase;
    padding: 0 20px 26px 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      @include centered(x);
      bottom: 0;
      width: 90px;
      height: 3px;
      display: block;
      background-color: $main_font_color;
    }
}
.block-subtitle_lineHeight {
  line-height: 40px;
}