.section-pic {
    position: absolute;
    margin-top: -140px;
    text-align: center;
    left: 0;
    top: 50%;
    right: 0;
    @include tablet {
        transform: translate(-50%, -50%);
        left: 50%;
        margin-top: -40px;
        right: auto;
    }
}
.section-pic__image {
    width: 460px;
    opacity: 0.1;
    @include tablet {
        height: 170px;
    }
}
.user__pic {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 145px;
    height: 145px;
    margin-bottom: 10px;
}
.user__pic_marginReset {
    margin-bottom: 0;
}
.user__pic-img {
    height: 220px;
}
.user__name {
    @include roboto(medium);
    font-size: 35px;
    color: #fff;
    @include phone {
        font-size: 21px;
    }
}
.user__name_fontSize {
    font-size: 28px;
}
.user__info {
    @include roboto(regular);
    color: #fff;
    width: 100%;
}