extends ../_template
include ../common/_mixins.pug

block variables
  - var title = 'Обо мне'
  - var contacts = [['skype_n', '_'],['envelope_n', 'p.reshetnev@yandex.ru'],['phone_n', '+79117813559'],['map_n', 'Санкт-Петербург']]

block content
  .first-screen__bg-normal
        img.first-screen__bg-img(src="./assets/img/decor/bg_about.jpg")
  .first-screen__bg-wrap
        img.first-screen__bg(src="./assets/img/decor/bg.jpg")
  section.section.first-screen
      .first-screen__container
          .first-screen__socials
              include ../common/header
      .first-screen__title
          .section-pic
              img(src="./assets/img/decor/stars1.svg" alt="stars").section-pic__image
          .user.first-screen__user
              .user__pic
                  img(src="./assets/img/content/avatar.jpg" alt="Avatar").user__pic-img
              .user__description
                  .user__name Решетнев Паша
                  .user__info Личный сайт веб разработчика
      a.arrow.first-screen__scroll(href="#")
        svg.arrow__pic
          use(xlink:href="./assets/img/icons/sprite.svg#arrow_down")
  section.section.about
    .about__me
      .triangle.triangle_fill_beige
        svg.triangle__svg(viewBox="0 0 1000 150" preserveAspectRatio="none")
          polygon(points="0,0 0,150 1000,150")
      .about__me-title
        .block-title__substrate
          img.block-title__substrate-icon(src="./assets/img/decor/stars2.svg")
        .block-title Обо мне
      .about__me-content
        .user-desc
          .user-desc__pic
            img.user-desc__img(src="./assets/img/content/avatar.jpg")
          .user-desc__title
            .block-subtitle Кто я
          .user-desc__text.text-content
            p Я веб разработкчик из Санкт-Петербурга. Мне 27 лет. Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные проекты.
            p Этот сайт я делал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освеэу в нем свой контент. А пока посмотрите как тут все классно и красиво!
    .about__skills
      .triangle.triangle_fill_lighter
        svg.triangle__svg(viewBox="0 0 1000 150" preserveAspectRatio="none")
          polygon(points="1000,0 1000,150 0,150")
      .about__skills-container
        .about__skills-title
          .block-subtitle Чем я могу быть вам полезен
        .about__skills-text.text-content
          p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__skills-content
          ul.skills-circle
            +skills('Frontend', [['HTML5', 75], ['CSS3', 70], ['JavaScript & jQuery', 45]])
            +skills('Backend', [['PHP', 15], ['mySQL', 15], ['Node.js & npm', 20], ['Mongo.db', 15]])
            +skills('WorkFlow', [['Git', 55], ['Gulp', 35], ['Yarn', 45]])
  section.section.map
    .google-map#map
    .contacts
      .contacts__title
        .block-subtitle контакты
      ul.contacts__list
        each contact in contacts
          li.contacts__item
            .contacts-row
              .contacts-row__icon-wrap
                svg.contacts-row__icon
                  use(xlink:href=`./assets/img/icons/sprite.svg#${contact[0]}`)
              .contacts-row__content #{contact[1]}
    footer.footer.footer_about
      include ../common/footer-main
      include ../common/footer-copyright