extends ../_template
include ../common/_mixins.pug

block variables
  - var title = 'Обо мне'

block content
    img.first-screen__bg(src="./assets/img/decor/bg_about.jpg")
    .hello-wrap
        a.auth-btn(href="#") Авторизоваться
        .hello
            .user__pic.user__pic_marginReset
                img(src="./assets/img/content/avatar.jpg" alt="Avatar").user__pic-img
            .user__description
                .user__name.user__name_fontSize Решетнев Паша
                .user__info Личный сайт веб разработчика
            ul.socials.socials_fill_blue
                each item in ['vk', 'github', 'in']
                    li.socials__item
                        a(href="" class="socials__link")
                            svg.socials__icon
                                use(xlink:href=`./assets/img/icons/sprite.svg#${item}`)
            .hello__btns
                ul.btns
                    li.btns__item
                        a.btns__link(href="./works.html") Мои работы
                    li.btns__item
                        a.btns__link(href="./about.html") Обо мне
                    li.btns__item
                        a.btns__link(href="./blog.html") Блог
        footer.hello__footer.footer_transp
            include ../common/footer-copyright