.flipper-wrap {
    perspective: 1000px;
    height: 410px;
    width: 378px;
    @include tablet {
        width: 348px;
    }
    @include phone {
        width: 295px;
    }
}
.clicked {
    .hello {
        transform: rotateY(-180deg);
    }
    .auth {
        transform: rotateY(0deg);
    }
}
.flipper {
    transform-style: preserve-3d;
    position: relative;
}
.hello,
.auth {
    backface-visibility: hidden;
    position: absolute;
    transition: 0.6s;
    top: 0;
    left: 0;
    will-change: transform;
}
.hello {
    z-index: 2;
}
.auth {
    transform: rotateY(180deg);
}
