.hello-wrap {
    height: 100vh;
    position: relative;
    min-height: 568px;
}
.hello-bg-normal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include desctop {
        display: block;
    }
}
.hello-bg-normal__img {
    display: block;
    max-width: 2215px;
}
.hello-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include desctop {
        display: none;
    }
}
.hello-bg__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
}
.hello-bg__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -5;
}
.hello-bg__img {
    max-width: 120%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.auth-btn {
    width: 180px;
    height: 46px;
    border: 1px solid #fff;
    padding: 12px 27px;
    color: #fff;
    position: absolute;
    top: 24px;
    right: 20px;
    transition: background, transform .3s ease-in-out;
    &:hover {
        background-color: #083c96;
        border: 1px solid transparent;
    }
    @include phone {
        width: 150px;
        @include centered(x);
        padding: 12px 20px;
        top: 10px;
    }
}
.auth-btn__hidden {
    opacity: 0;
    transform: translateY(-400px);
}
.flipper-wrap {
    @include centered();
    top: 49%;
}
.hello,
.auth {
    background-color: rgba(#1c1f29, 0.5);
    text-align: center;
    padding-top: 33px;
    width: 378px;
    @include tablet {
        width: 348px;
    }
    @include phone {
        width: 295px;
    }
}

.socials_fill_blue {
    margin-bottom: 40px;
    margin-top: 32px;
    .socials__icon {
        transition: .3s;
        fill: #083c96;
        &:hover {
            fill: $blue;
        }
    }
}

.btns {
    display: block;
    width: 100%;
    font-size: 0;
}
.btns__item {
    display: inline-block;
    &:nth-child(2) {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }
}
.btns__link {
    padding: 12px 31px;
    background-color: $blue;
    display: block;
    color: #fff;
    font-size: 16px;
    transition: background .3s;
    &:hover {
        background-color: #083c96;
    }
    @include tablet {
        padding: 11px 26px;
    }
    @include phone {
        font-size: 14px;
        padding: 12px 21px;
    }
}
// авторизация
.auth__title {
    @include webissimo();
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
    margin-bottom: 40px;
    @include tablet {
        font-size: 30px;
    }
}
.auth__form {
    margin-bottom: 40px;
}
.auth__icon-wrap,
.auth__input {
    display: inline-block;
    vertical-align: middle;
}
.auth__input-label {
    font-size: 0;
    display: block;
    margin-bottom: 20px;
}
.auth__icon-wrap {
    width: 45px;
    height: 45px;
    background-color: #f0efe9;
    position: relative;
}
.auth__icon {
    width: 15px;
    height: 15px;
    fill: #c4cbcd;
    @include centered();
}
.auth__input {
    height: 45px;
    width: 295px;
    border: none;
    outline-color: $blue;
    padding: 15px 20px;
    color: rgba(#373e42, .5);
    @include roboto(regular);
    font-size: 16px;
    @include tablet {
        width: 260px;
    }
    @include phone {
        width: 215px;
    }
}
.auth__checkbox {
    position: absolute;
    left: -9999px;
}
.auth__checkbox:checked + .auth__checkbox-block {
    background-color: $blue;
}
.auth__checkbox-label {
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
}
.auth__checkbox-block,
.auth__checkbox-text {
    display: inline-block;
    vertical-align: middle;
}
.auth__checkbox-block {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 2px;
    margin-right: 10px;
    position: relative;
    transition: .3s;
    &::after {
        content: '';
        display: block;
        background-image: url('./../img/icons/check.svg');
        width: 12px;
        height: 12px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include centered();
    }
}
.auth__checkbox-text {
    @include roboto(regular);
    color: #fff;
}
.auth__radio-title {
    color: #fff;
    @include roboto(bold);
    margin-bottom: 10px;
}
.auth__radio-label {
    display: inline-block;
    vertical-align: middle;
    &:first-child {
        margin-right: 20px;
    }
}
.auth__radio {
    position: absolute;
    left: -9999px;
}
.auth__radio:checked + .auth__radio-block::after {
    width: 10px;
    height: 10px;
}

.auth__radio-block,
.auth__radio-text {
    display: inline-block;
    vertical-align: middle;
}
.auth__radio-block {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
    position: relative;
    &::after {
        content: '';
        display: block;
        border-radius: 50%;
        transition: .3s;
        width: 0;
        height: 0;
        background-color: $blue;
        @include centered();
    }
}
.auth__radio-text {
    color: #fff;
    @include roboto(regular);
}
.auth__link,
.auth__button {
    display: inline-block;
    width: 50%;
    padding: 13px 0;
    vertical-align: middle;
    background-color: $blue;
    color: #fff;
    @include roboto(regular);
    transition: .3s;
    &:hover {
        background-color: #083c96;
    }
    @include tablet {
        padding: 11px 0;
    }
}
.auth__link {
    border-right: 1px solid #eee;
}

.hello__footer {
    position: absolute;
    bottom: 33px;
    left: 0;
    right: 0;
    @include phone {
        bottom: 5px;
    }
}
.footer_transp {
    .footer-copyright {
        background-color: transparent;
        @include phone {
            width: 300px;
            margin: 0 auto;
        }
    }
    .footer-copyright__text {
        @include roboto(light);
    }
}